html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.myContainer {
    position: relative;
}

.pleasework {
    position: absolute;
    z-index: 1;
    margin-left: 900px;
    margin-top: 15px;
    padding: 10px;
    margin-right: 50px;
}


a:link, a:visited {
  color: #b5a58a;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  outline: 0;
}

a:hover, a:active {
  outline: 0;
}